@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@theme {
  --font-primary: "Satoshi", "sans-serif";
  --font-secondary: "Satoshi", "sans-serif";

  --color-background: oklch(92.74% 0.0168 236.7);
  --color-secondary: oklch(43.8% 0.0658 256.9);
  --color-accent: oklch(82.31% 0.0796 252.2);
  ---color-general: oklch(24.21% 0.0089 255.59);
}

@layer base {
  h1 {
    @apply text-5xl font-extrabold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl;
  }
  input,
  textArea {
    @apply border-2 border-secondary rounded-lg w-full p-2 bg-white;
  }
}

@layer components {
  .button {
    @apply hover:text-accent hover:scale-102 cursor-pointer bg-secondary text-background text-center px-4 py-2 rounded-lg;
  }
  .sidebar-icons {
    @apply text-5xl text-background;
  }
  .icon-container-isActive {
    @apply bg-accent rounded-lg hover:scale-102 p-4 flex cursor-pointer;
  }
  .icon-container-notActive {
    @apply hover:border hover:border-accent rounded-lg hover:scale-102 p-4 flex cursor-pointer;
  }
}
