@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@theme {
  --font-primary: "Satoshi", sans-serif;
  --font-secondary: "Satoshi", sans-serif;

  --color-background: oklch(92.74% 0.0168 236.7);
  --color-secondary: oklch(43.8% 0.0658 256.9);
  --color-accent: oklch(82.31% 0.0796 252.2);
  --color-general: oklch(24.21% 0.0089 255.59);
}

@layer base {
  h1 {
    @apply text-wrap text-4xl font-extrabold sm:text-5xl;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl;
  }
  input,
  textarea {
    @apply border-2 border-secondary rounded-lg w-full p-2 bg-white;
  }
}

@layer components {
  .button {
    @apply hover:text-accent hover:scale-[1.02] cursor-pointer bg-secondary text-background text-center px-4 py-2 rounded-lg transition-all;
  }
  .sidebar-icons {
    @apply text-5xl text-background mx-auto md:mx-0;
  }
  .icon-container {
    @apply flex items-center gap-4 justify-start mx-auto p-4 rounded-lg cursor-pointer transition-all w-full;
  }
  .icon-container-active {
    @apply bg-accent hover:scale-[1.02];
  }
  .icon-container-inactive {
    @apply hover:border hover:border-accent hover:scale-[1.02];
  }
}
